name: Deploy to AWS CloudFormation

on:
  workflow_dispatch: {}
  push:
    branches:
      - release

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.REDHACKS_TEMP_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.REDHACKS_TEMP_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Check AWS auth
      run: aws sts get-caller-identity

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy to AWS CloudFormation
      run: |
        aws cloudformation deploy --template-file infrastructure.cfn.yaml --stack-name  url-router-github --capabilities CAPABILITY_IAM

